<% provide(:title, "Contact") %>
<h1>Help</h1>
<p>
	This web page is created as an example of how privaleges work in ruby on rails. Members get privaleges to view the authors of post, and the only requirement for membership is signing up! This website in no way stores personal information about you other than your name and email. (noone said you couldn't use a pseudonym, either)
	<br>
	Don't get attached to any posted information, as it is subject to deletion at any point for any reason.
</p>